<p>This is the partial for view 1.</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form role="form">
      <table class="table" checkbox-table>
        <tr>
          <th><input type="checkbox" class="checkbox-head" ng-model="checkboxHead" checkbox-head></th>
          <th>名前</th>
        </tr>
        <tr ng-repeat="member in members">
          <td><input type="checkbox" name="member[]" ng-model="member.checked" checkbox-item></td>
          <td>{{member.name}}</td>
        </tr>
      </table>
    </form>

    <!--
    <pre>
    {{ checkboxHead | json}}
    </pre>
    <pre>
    {{ members | json}}
    </pre>
    -->

    <div>
      <button ng-click="checkAll()">check all</button>
    </div>
  </div>
</div>
